<ng-template #empty>
  <div class="alert alert-info">No stats to show.</div>
</ng-template>

<ul
  class="stats"
  *ngIf="stats.length; else empty"
  [ngClass]="{ 'stats-home': mode === 'home' }"
>
  <li class="stats-item">
    <p class="stats-name">{{ total.budgetName }}</p>
    <div
      class="stats-pie-chart stats-pie-chart-total"
      [ngStyle]="{ '--percent.%': total.ratio }"
    >
      <p
        class="stats-value-percent"
        [ngClass]="{ 'stats-exceeded': total.ratio > 100 }"
      >
        {{ total.ratio | number: "1.1-1" }}%
      </p>
      <p class="stats-value">
        {{ total.expensesValue | currency: "USD" }} /
        {{ total.budgetValue | currency: "USD" }}
      </p>
    </div>
  </li>

  <li class="stats-item" *ngFor="let stat of stats">
    <p class="stats-name">{{ stat.budgetName }}</p>
    <div
      class="stats-pie-chart"
      [ngStyle]="{
        '--percent.%': stat.ratio,
        '--bg-color': stat.budgetColor
      }"
    >
      <p
        class="stats-value-percent"
        [ngClass]="{ 'stats-exceeded': stat.ratio > 100 }"
      >
        {{ stat.ratio | number: "1.1-1" }}%
      </p>
      <p class="stats-value">
        {{ stat.expensesValue | currency: "USD" }} /
        {{ stat.budgetValue | currency: "USD" }}
      </p>
    </div>
  </li>
</ul>
