<form
  class="budgets-form"
  #form="ngForm"
  (submit)="this.saved.emit(currentBudget)"
>
  <div class="budgets-form-item">
    <label class="budgets-form-label" for="name">Name</label>
    <input
      class="budgets-form-input form-control"
      type="text"
      name="name"
      [(ngModel)]="currentBudget.name"
      required
    />
  </div>

  <div class="budgets-form-item">
    <label class="budgets-form-label" for="color">Color</label>
    <input
      class="budgets-form-input form-control form-control-color"
      type="color"
      name="color"
      [(ngModel)]="currentBudget.color"
      required
    />
  </div>

  <div class="budgets-form-item">
    <label class="budgets-form-label" for="value">Limit</label>
    <input
      class="budgets-form-input form-control"
      type="text"
      name="value"
      [(ngModel)]="currentBudget.value"
      required
      pattern="\d*"
    />
  </div>

  <div class="budgets-form-buttons">
    <button
      type="submit"
      class="budgets-form-button btn btn-primary"
      [disabled]="form.invalid"
    >
      {{ mode }}
    </button>
    <button
      type="button"
      class="budgets-form-button btn btn-secondary"
      (click)="this.reseted.emit()"
    >
      Reset
    </button>
  </div>
</form>
