<ng-template #empty>
  <div class="budgets">
    <div class="alert alert-info">There are no budgets.</div>
  </div>
</ng-template>

<ul class="budgets" *ngIf="budgets.length; else empty">
  <li
    class="budgets-item"
    *ngFor="let budget of budgets"
    [ngStyle]="{
      'border-left-color': budget.color,
      'box-shadow':
        budget.id === currentBudget.id ? '0 0 0 0.1rem ' + budget.color : 'none'
    }"
    (click)="this.selected.emit(budget)"
  >
    <div class="budgets-item-details">
      <p class="budgets-item-name">
        {{ budget.name }}
      </p>
      <p class="budgets-item-value">
        Budget: {{ budget.value | currency: "USD" }}
      </p>
    </div>

    <button
      type="button"
      class="btn btn-icon btn-danger budgets-item-delete"
      (click)="
        this.deleted.emit({ id: budget.id, name: budget.name });
        $event.stopImmediatePropagation()
      "
    >
      Delete
    </button>
  </li>
</ul>
